<md-toolbar color="primary">
  
  <img src="../../assets/clipboard.svg" width="40px"/>
  <span style="padding-left:10px;" (click)="resetStatusLogin()">Todo App</span>

  <div class="fill"></div>

  <button md-icon-button [md-menu-trigger-for]="menu" *ngIf="(auth.user | async)?.uid">
    <md-icon>more_vert</md-icon>
  </button>

<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Config (Soon)</button>
    <button md-menu-item (click)="logout()">Logout</button>
  </md-menu>
  
</md-toolbar>

